html {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #f0fcfe;
  display: flex;
  align-items: center;
  justify-content: center; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  padding: 0;
  margin: 0;
  background-color: #4a84f7; }

.cormorant {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal; }

body {
  width: 100%;
  height: 100%;
  max-width: 3840px; }

.login-page {
  background: #4A84F7;
  background: radial-gradient(circle, #4a84f7 0%, #f0fcfe 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4a84f7;
  padding: 0;
  margin: 0; }
  .login-page .login-page-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 345px;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #f0fcfe; }
    .login-page .login-page-interface h4, .login-page .login-page-interface h1 {
      color: #f0fcfe;
      text-align: center; }
    .login-page .login-page-interface .login-part a {
      display: block;
      width: 200px;
      padding: 10px 15px;
      margin: 25px;
      text-align: center;
      text-decoration: none;
      color: #f0fcfe;
      font-size: 1.6em;
      border-radius: 15px;
      border: 2px solid #f0fcfe; }
    .login-page .login-page-interface .login-part a:hover {
      background: #f0fcfe;
      color: #4a84f7;
      transition: 0.2s; }
    .login-page .login-page-interface form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      color: #f0fcfe;
      text-align: center; }
    .login-page .login-page-interface .back-login-button {
      display: block;
      margin: 10px;
      color: #f0fcfe;
      text-decoration: none; }
    .login-page .login-page-interface input, .login-page .login-page-interface button {
      color: #4a84f7;
      border-radius: 5px;
      border-color: #4a84f7; }
    .login-page .login-page-interface button {
      margin-top: 20px;
      background-color: #4a84f7;
      color: #f0fcfe; }

.tasks-page {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .tasks-page .tasks-filters {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #f0fcfe;
    position: sticky;
    top: 60px;
    left: 0;
    border-radius: 0 0 10px 10px;
    border: 2px #4a84f7 solid; }
  .tasks-page .tasks-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #4a84f7; }
    @media only screen and (max-width: 2560px) {
      .tasks-page .tasks-container {
        grid-template-columns: repeat(7, 1fr); } }
    @media only screen and (max-width: 1920px) {
      .tasks-page .tasks-container {
        grid-template-columns: repeat(6, 1fr); } }
    @media only screen and (max-width: 1600px) {
      .tasks-page .tasks-container {
        grid-template-columns: repeat(5, 1fr); } }
    @media only screen and (max-width: 1300px) {
      .tasks-page .tasks-container {
        grid-template-columns: repeat(4, 1fr); } }
    @media only screen and (max-width: 1000px) {
      .tasks-page .tasks-container {
        grid-template-columns: repeat(3, 1fr); } }
    .tasks-page .tasks-container .task {
      background-color: #dfdfdf;
      margin: 10px;
      border-radius: 10px;
      border: 3px solid #f0fcfe; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4a84f7;
  position: sticky;
  top: 0;
  left: 0; }
  nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 120px;
    border: 1px solid #f0fcfe;
    height: 50px;
    color: #f0fcfe;
    text-decoration: none;
    text-align: center;
    align-items: center;
    margin: 5px;
    border-radius: 10px; }
  nav .navbar-left, nav .navbar-right {
    display: flex; }

/*# sourceMappingURL=styles.css.map */
