.tasks-page {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;


  .tasks-filters {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: $mid-color;
    position: sticky;
    top: 60px;
    left: 0;
    border-radius: 0 0 10px 10px ;
    border: 2px $base-color solid;
  }

  .tasks-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    @media only screen and (max-width: 2560px) {
      grid-template-columns: repeat(7, 1fr);
    }

    @media only screen and (max-width: 1920px) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media only screen and (max-width: 1600px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media only screen and (max-width: 1300px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media only screen and (max-width: 1000px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .task {
      margin: 10px;
      border-radius: 10px;
      border: 3px solid $base-color;
      background-color: $light-base;
      padding: 10px;

      p, a {
        margin: 4px;
        color: $base-color;
      }

      a {
        font-weight: bold;
      }

      .priority1 {
        color: red;
      }

      .priority2 {
        color: darkorange;
      }

      .priority3 {
        color: green;
      }

      .priority4 {
        color: $base-color;
      }



    }
  }
}
